<a href="/help-me" class="btn btn-primary" style="margin-right: 20px;">
  <i class="fa fa-wrench fa-5x" aria-hidden="true"></i>
  <br /><br />
  Submit New Request
</a>
<% if @username != nil && @username != '' %>
<a href="/tickets-list" class="btn btn-success">
  <i class="fa fa-info-circle fa-5x" aria-hidden="true"></i>
  <br /><br />
  View Request Status
</a>
<% end %>
